
.divedit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    width: 80vw;
    position: relative;
    left: 25vw;
}

.header > input {
    position: relative;
    right: 150px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #10451d;
    color: whitesmoke;
    height: 400px;
    width: 1059px;
    border: 3px solid whitesmoke;
    border-radius: 25px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}


.formbody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.item > label {
    font-size: 20px;
    font-weight: bold;
}

.item input {
    font-size: 20px;
    border-radius: 5px;
}

.url {
    font-size: 10px;
}

.stat {
    width: 100px;
    border-radius: 5px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    gap: 15px;
}

.types {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    font-size: 20px;
}

.typeslist {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.typeslist select {
    font-size: 15px;
}

.selected {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
}

.selected > input {
    height: 30px;
    font-size: 20;
    border-radius: 5px;
    border: 1px solid black;
}

.submit {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
    padding-top: 40px;
}

.divsubmit {
    height: 35px;
    width: 230px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    position: relative;
    right: 50px;
}

.divsubmit > input {
    height: 100%;
    width: 100%;
    font-size: 25px;
    border-radius: 10px;
    background-color: #3b0086;
    color: whitesmoke;
    cursor: pointer;
}

.divsubmit > input:hover {
    background-color: #a9d126;
    color: black;
}