 /* '../../images/landing.jpg'; */

.landing {
    background-image: url('../../images/landing.jpg');
    height: 100vh;
    background-size: 100vw 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3em;
    left: 5em;
    width: 35em;
}

.title {
    color: #ffff3f;
    font-size: 20px;
}

.title > h2 {
    margin-top: 10px;
}

.title > img {
    width: 20em;
}

.linkhome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #240046;
    font-size: 30px;
    border: 3px solid #5a189a;
    margin-top: 20px;
    color: whitesmoke;
    width: 150px;
    height: 35px;
    border-radius: 15px;
}

.linkhome p {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.linkhome :hover {
    background-color: #757bc8;
    color: #240046;
}
