@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=IM+Fell+English+SC&family=Varela+Round&display=swap');


.pokemoncard {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 8px solid;
    border-color: #0d1516;
    width: 300px;
}


.divHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #38413f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white
}

.divTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--nameCard-font-family);
    font-size: 20px;
    max-width: 180px;
}

.customIcon {
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

.favIcon {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    cursor: pointer;
}

.favIconOn {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    cursor: pointer;
    color: yellow
}

.favIcon:hover {
    background-color: #0d1516;
}

.favIconOn:hover {
    background-color: #0d1516;
}

.divImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: linear-gradient(to bottom, #5e60ce, white 50%)
}

.divImg {
    max-height: 100%;
    width: 300px;
}

.pokeimg {
    max-height: 100%;
    max-width: 300px;
}

.divTypes {
    display: flex;
    flex-direction: row;
}

.types {
    display: flex;
    align-items: center;
    background-color: #b392ac;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 12px;
    height: 30px;
}

.typesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 100%;
    background-color: #64dfdf;
    border-bottom-right-radius: 12px;
    height: 30px;
}

.name {
    color: white;
}