.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    position: sticky;
    bottom: 10px;
}

.firstlast {
    width: 120px;
    height: 30px;
    font-size: 20px;
    background-color: #240046;
    border: 2px solid #bbadff;
    color: #bbadff;
    cursor: pointer;
}

.prevnext {
    width: 50px;
    height: 30px;
    font-size: 20px;
    background-color: #240046;
    border: 2px solid #bbadff;
    color: #bbadff;
    cursor: pointer;
}

.container > input:hover {
    background-color: #bbadff;
    color: #240046;
    border: 2px solid #240046;
}


.divpages {
    display: flex;
    gap: 5px;
}

.nocurrent {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #240046;
    border: 2px solid #bbadff;
    color: #bbadff;
    cursor: pointer;
}

.nocurrent:hover {
    background-color: #bbadff;
    color: #240046;
    border: 2px solid #240046;
}

.current {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #bbadff;
    color: #240046;
    border: 2px solid #240046;
}